[mat-raised-button]:not(:last-child) {
    margin-right: 16px;
}

a[mat-button] {
    font-size: xx-large;
}

.mobile-nav {
    display: none;
  }
  @media screen and (max-width: 767px) {
    .desktop-nav {
      display: none;
    }
    .mobile-nav {
      display: unset;
    }
  }