<div *ngIf="!mobile">
    <mat-toolbar color="primary" class="mat-elevation-z6">
        <mat-toolbar-row>
            <button mat-raised-button *ngFor="let item of categories" [routerLink]="[ item.url ]">
                {{item.title}}&nbsp;
                <mat-icon>{{item.icon}}</mat-icon>
            </button>
            <span style="flex: 1 1"></span>
    
            <button mat-button [matMenuTriggerFor]="menu">
                {{name}}&nbsp;
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logout()">
                    <mat-icon>arrow_back</mat-icon>
                    <span>Kijelentkezés</span>
                </button>
            </mat-menu>
    
        </mat-toolbar-row>
    </mat-toolbar>
    <span style="color:white">Desktop</span>
</div>
<div *ngIf="mobile">
    <mat-toolbar color="primary" class="mat-elevation-z6">
        <mat-toolbar-row>
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>reorder</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-raised-button *ngFor="let item of categories" [routerLink]="[ item.url ]" style="margin-bottom: 5px; display: flex;">
                    {{item.title}}&nbsp;
                    <mat-icon>{{item.icon}}</mat-icon>
                </button>
            </mat-menu>

            <span style="flex: 1 1"></span>
    
            <button mat-button [matMenuTriggerFor]="profile">
                {{name}}&nbsp;
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #profile="matMenu">
                <button mat-menu-item (click)="logout()">
                    <mat-icon>arrow_back</mat-icon>
                    <span>Kijelentkezés</span>
                </button>
            </mat-menu>
    
        </mat-toolbar-row>
    </mat-toolbar>
    <span style="color:white">Mobile</span>
</div>