<mat-card class="centerCard">
    <form [formGroup]="form" (ngSubmit)="login()">
        <mat-card-title>Login</mat-card-title>
        <mat-card *ngIf="alertMessage" class="alertCard">
            {{alertMessage}}
        </mat-card>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
    
            <button mat-raised-button>Login</button>
            <button mat-raised-button [routerLink]="[ '/registration' ]">Register</button>
        </mat-card-content>
    </form>
</mat-card>