<mat-card>
    <form [formGroup]="form" (ngSubmit)="register()">
        <mat-card-title>Registration</mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
    
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
            <button mat-raised-button>Register</button>
            <button mat-raised-button [routerLink]="[ '/login' ]">Login</button>
        </mat-card-content>
    </form>
</mat-card>